.boxes {
    width: 15%;
    height: 15%;
}

.boxes img {
    width: 15%;
}
.page_content {
    display: flex;
}
.sidebar {
    background: #320D6D;
    width: 20%;
}
@media only screen and (max-width: 500px){
    .sidebar {
        display:none;
    }
}
.sidebar ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    
}
.sidebar ul li {
    border: 1px solid #04141F;
    padding: 5%;
    text-align: center;
}
.sidebar ul li:hover {
    color: #320D6D;
    background: #7578BA;
}
.sidebar ul li a{
    color: #04141F;
    text-decoration: none;
}

.page_content{
    flex-direction: row;
    
    
}
.main_content{
    padding-left: 3%;
    width: 75%;
}
@media only screen and (max-width: 500px){
    .main_content {
        padding-left: 0;
        width: 85%;
        margin: 0 auto;
    }

    .main_content h2 {
        text-align: center;
    }
}

.team {
    width: 100%;
    
}

.rows {
    display: flex;
    margin: 30px 0;
}
@media only screen and (max-width: 800px){
    .rows {
        width: 85%;
        flex-direction: column;
        margin: 20px auto;
    }
    
}

.boxes.photo {
    width: 30%;
}

@media only screen and (max-width: 800px){
    .boxes.photo {
        width: 100%;
        margin: 2% 0;
    }
}

.boxes.photo img {
    width: 100%;
    border-radius: 5%;
}
.boxes.description {
    width: 60%;
}
.boxes.description p {
    border-top: 0;
    color: #04141F;
    text-align: left;
}


@media only screen and (max-width: 800px){
    .boxes.description{
        width: 100%;
        margin: 2% 0;
    }
}

.jobTitle {
    font-weight: 600;
    font-style: italics;
    
}

