/* Color Scheme
Flush Orange - #FF7400      RGB(255, 116, 0)
Violent Violet - #320D6D    RGB(50, 13, 109)
Wild Blue Yonder - #7578BA  RGB(117, 120, 186)
White - #FFFFFF             RGB(255, 255, 255)
Black Pearl - #04141F       RGB(4, 20, 31)
*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Sofia&display=swap');

*{
    box-sizing: border-box;
}
html{
    color: #04141f;
    font-size: 62.5%;
    font-family: Roboto, Arial, sans-serif;
}
body{
    
    font-size: 1.75rem;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}
ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
a {
    text-decoration: none;
    
}

strong {
    font-weight: 600;
    text-transform: uppercase;
    color: #FF7400;
}
.buttons {
    border: 1px solid #04141f;
    background: #04141f;
    color: #FFFFFF;
    width: 100%;
    border-radius: 5%;
    margin: 10px 5%;
    text-align: center;
    padding: 2%;
    
}
.buttons:hover {
    background: #320d6d;
    color: #7578BA;
}

.page_header{
   background: #FFFFFF;
   width: 100%;
   display: flex;
   flex-direction: column;
   
}

.site_logo{
    width: inherit;
    display:flex;
    justify-content: space-between;

}

@media only screen and (max-width:800px){
    .site_logo {
        flex-direction: column-reverse;
    }
}



.site_logo h1 {
    font-size: 4rem;
    padding: 0 2%;
    font-family: Sofia, cursive;
    text-transform: lowercase;
    font-weight: 800;
    color:  #FF7400;
}
@media only screen and (max-width: 800px){
    .site_logo h1 {
        text-align: center;
    }
}

.login_btns { 
    display: flex;
    border: 2px solid #FF7400;
    background: #FFFFFF;
    width: 40%;
    height: 65%;
 }
 @media only screen and (max-width: 800px) {
     .login_btns{
         width: 75%;

     }
 }
 @media only screen and (max-width: 500px){
     .login_btns {
         width: 75%;
      }
 }
.login_btns p{
    padding-left: 1%;
    width: 70%;
    color: #FF7400;
    font-weight: 600;
}
@media only screen and (max-width: 500px){
    .login_btns p{
        padding:0;
        width: 70%;
        
    }
}
.login_btns .buttons {
    height: 20%;
    padding: 2%;
    margin: 10px 2%;
    color: #FF7400;
    background-color: #FFFFFF;
    border: 2px solid #FF7400;
}
.login_btns .buttons a {
    text-decoration: none;
    color: #FF7400;
    
}
.login_btns .buttons a:hover {
    color: #FFFFFF;
    background: #FF7400;
}
.login_btns .buttons:hover{
    color: #FFFFFF;
    background: #FF7400;
}

.site_nav{
    
    width: inherit;
    background: #04141f;
    margin: 0;
    display: flex;   
}
.site_nav div {
    width: 60%;
}


@media only screen and (max-width: 800px) {
    .site_nav div {
        display: none;
    }
}
.site_nav ul {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    padding: 1%;
    list-style-type: none;
}
@media only screen and (min-width:501px) and (max-width:800px){
    .site_nav ul {
        width:85%;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 500px) {
    .site_nav ul {
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        
    }
}
    
.site_nav ul li{
     
     text-align: center;
    
}
@media only screen and (max-width: 500px){
    .site_nav ul li{
        width: 100%;
        padding: 2%
    }
}

.site_nav ul li:hover {
    color: #320d6d;
}   
@media only screen and (max-width: 500px) {
    .site_nav ul li:hover {
        background: #7578BA;
    }
}

.site_nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
}

.site_nav ul li a:hover {
    color: #FF7400;
}




.page_content{
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 120, 0, 0.7), #FFFFFF);
    display: flex;
    flex-direction: column;
}

.top_sct{
    display: flex;
    flex-direction: column;
}

.pageImg { width: 100%;}

.top_content{
    width: 85%;
    margin: 20px auto;
}

.middle_sct {
    margin-bottom: 20px;
   
}
.middle_content {
    width:85%;
    display: flex;
    margin: 20px auto;
}
@media only screen and (max-width: 800px){
    .middle_content {
        width: 100%;
        flex-direction: column;
    }
}


.boxes {
    border: 2px solid #320d6d;
    border-radius: 5%;
    box-shadow: 5px 10px 8px #04141f, 5px 10px 8px #04141f;
    width: 30%;
    margin: 0 2%;
    background: #FFFFFF;
}
.boxes img{
    border-radius: 7%;
    margin: 0;
    padding: 0;
    background: #320d6d;
    width: 100%;
}
.boxes p{
    border-top: 2px solid #320d6d;
    margin: 0;
    padding: 2%;
    text-align: center;
    font-weight: 500;
    color: #FF7400;
}
@media only screen and (max-width: 800px) {
    .boxes {
        width: 85%;
        margin: 20px auto;
    }
}

@media only screen and (max-width:800px){
    .middle_content .boxes {
        width:75%;
    }
   
}
.middle_content .boxes p {
    border-top: 0;
}

.bottom_sct {
    
    background: linear-gradient(90deg, #7578BA, #FFFFFF, #7578BA, #FFFFFF, #7578BA);
}
.bottom_content{
    width: 75%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

@media only screen and (max-width: 800px){
    .bottom_content {
       width: 100%;
       flex-direction: column;
    }
}

.bottom_content boxes {
    background: #FFFFFF;
}
.bottom_content .boxes p{
    border-top: 0;
}
/*
.call-to-action {
    background: #FFFFFF;
    border: 1px 0 1px 0 solid #04141f;
}

.cta_content {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta_content h1 {
    color:#FF7400;
    font-weight: 800;
    text-align:center;
}

.cta_content img {
    width: 55%;
    border-radius: 10%;
    margin: 20px auto;
}
*/
.page_footer {
    border-top: 2px solid #FF7400;
    background: #FFFFFF;
    text-align: center;
    color: #04141f;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
@media only screen and (max-width: 800px){
    .page_footer{
        padding-top: 0;
    }
}
.footer_content {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width:100%;
}
@media only screen and (max-width: 800px) {
    .footer_content{
        flex-direction: column;

    }
}
.siteMap {
    width: 30%;
}
@media only screen and (max-width: 800px){
    .siteMap {
        width: 100%;
    }
}
.siteMap ul {
    list-style-type: none;
    text-align: left;
    padding: 2%;
}
.siteMap ul li {
    padding: 1%;
    text-transform: uppercase;
}
@media only screen and (max-width:800px){
    .siteMap ul li {
        padding: 2%;
        border-bottom: 1px solid #FFBFBD;
    }
    
}
.siteMap a{
    text-decoration: none;
    color: #320d6d;
}

.siteMap a:hover {
    color: #FF7400;
}

.buttons.backToTop {
    text-decoration: none;
    border: 2px solid #FF7400;
    background: transparent;
    color: #FF7400;
    height:20%;
    padding: 3%;
    display: none;
}
@media only screen and (max-width: 800px){
    .buttons.backToTop{
        display: initial;
        width: 35%;
        margin: 0 auto;
    }
}
.buttons.backToTop:hover{
    background: #FF7400;
    color: #FFFFFF;
}
.contactInfo {
    line-height: 1;
}

.contactInfo a {
    text-decoration: none;
    color: #320d6d;
}

.footer_sm {
    width: 30%;
}

@media only screen and (max-width:800px){
    .footer_sm{
        width:85%;
        margin: 0 auto;
    }
}

.social-media-icons {
    display: flex;
    flex-wrap: wrap;
}
.facebook-icon {
    width: 30%;
    
}

.facebook-icon:hover {
    transform: scale(1.1);
}
.twitter-icon {
    width: 30%;
}  
.twitter-icon:hover {
    transform: scale(1.1);
}
.instagram-icon {
    width: 30%;
    
}
.instagram-icon:hover {
    transform: scale(1.1);
}
.pinterest-icon {
    width:30%;
    
}
.pinterest-icon:hover {
    transform: scale(1.1);
}
.periscope-icon {
    width: 30%;
    
}
.periscope-icon:hover {
    transform: scale(1.1);
}
.youtube-icon {
    width:30%;
    
}
.youtube-icon:hover {
    transform: scale(1.1);
}
.page_footer .copyright{
    
    font-size: 1rem;

}  
